*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 50%;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contenedor-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.imagen-logo{
    width: 25%;
}

h1{
    text-align: center;
}

.formatos{
    border: 1px solid black ;
    margin: 1rem 0;
    transition: .2s all ease-in-out
}

.formatos:hover{
    transition: .2s all ease-in-out;
    transform: scale(110%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}   

.links{
    text-decoration: none;
    padding: .5rem;
    color: rgb(31, 31, 106);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px){
    main{
        width: 100%;
    }

    .imagen-logo{
        width: 45%;
    }

}